<nav>
	<a href="/">Home</a>
	<a href="/shop" data-sveltekit-preload-data>Shop</a>
	<a href="/movies" data-sveltekit-preload-data>Movies</a>
</nav>
<slot />

<style>
	nav {
		display: flex;
	}
	nav a {
		margin-right: 1rem;
	}
</style>
